.home-view{
    font-family: consolas;
    background-color: steelblue;
}
.hero-section{
    background-color: rgba(33,50,70);
    max-width: 900px;
    margin: 80px auto;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}
