@import 'calendar/calendar.css';
@import 'card/card.css';
@import 'dialog/dialog.css';
@import 'grid/grid.css';
@import 'layout/layout.css';
@import 'profile/profile.css';

* {
    touch-action: manipulation;
}

.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
