.profile-grid::part(body-cell) {
    --vaadin-grid-cell-padding: 0.25em 0.5em !important;
}

.profile-grid-layout, .appointment-card-grid-layout {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: var(--lumo-space-s);
    max-width: 1200px;
}

.profile-grid-layout {
    min-height: 800px;
}

.appointment-card-grid-layout {
    min-height: 1000px;
}

.profile-grid-toolbar, .appointment-grid-toolbar {
    column-gap: var(--lumo-space-m);
}

.appointment-card-grid-column {
    width: 100%;
    box-sizing: border-box;
}

.appointment-card-grid-column[part~='cell'] {
    white-space: normal !important;
}

.appointment-card-grid-layout vaadin-grid::part(cell) {
    white-space: normal !important;
}