.home-layout-header, .user-layout-header {
    padding-left: var(--lumo-space-m);
}

.user-layout-header {
    padding-left: var(--lumo-space-m);
}

.home-layout-drawer-layout .home-layout-home-button {

}

.home-layout-drawer-layout .home-layout-login-button {

}

.home-layout-drawer-layout .home-layout-register-button {

}

.home-layout-drawer-layout .home-layout-home-button:hover,
.home-layout-drawer-layout .home-layout-login-button:hover,
.home-layout-drawer-layout .home-layout-register-button:hover {
    cursor: pointer;
}

.home-layout-drawer-layout .home-layout-home-button:hover,
.home-layout-drawer-layout .home-layout-home-button:active{
    background-color: var(--lumo-warning-color);
}

.home-layout-drawer-layout .home-layout-login-button:hover,
.home-layout-drawer-layout .home-layout-login-button:active {
    background-color: var(--lumo-primary-color);
}

.home-layout-drawer-layout .home-layout-register-button:hover,
.home-layout-drawer-layout .home-layout-register-button:active{
    background-color: var(--lumo-error-color);
}
