.appointment-card-subtitle .appointment-card-date {
    margin-right: var(--lumo-space-m);
}

.appointment-card-body .appointment-card-appointed-by,
.appointment-card-body .appointment-card-description,
.appointment-card-body .appointment-card-place {
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
}